<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Icon -->
<link rel="shortcut icon" href="../img/logosmall.png">
<!-- css -->
<link reL="stylesheet" href="../css/style.css">
<title>Salitrera Irma Ltda.</title>
<head>
<body>
<!-- header -->
	<header class="header">
			<a href="../index.html"> 
					<img src="../img/logosmall.png" alt="logo small de sanitaria irma">
				</a>
					
			<div class="header__iniciarsesion">		
				<a href="../views/intranet.html">Iniciar sesion</a>	
			</div>	
		</header>
<!-- header -->
<!-- nav -->
		<nav>
			<ul>
				<li><a href="servicio.html">Servicio</a>
					<ul>
						<li><a href="servicio.html#baniosquimicos">Baños quimicos</a></li>
						<li><a href="servicio.html#fosas">Mantención de fosas</a></li>
						<li><a href="servicio.html#asesoria">Asesorias</a></li>
					</ul>
				</li>
				<li><a href="promociones.html">Promociones</a></li>
				<li><a href="quienessomos.html">¿Quienes somos?  </a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>	
		</nav>
<!-- nav -->
	<!-- Main -->
	<main class="menuContacto">
		<!-- formulario -->
	  <section class="menuContacto__form">
		<form action="contacto.html" method="get" enctype="multipart/form-data">
			<fieldset class="menuContacto__field">
				<h2 class="textMedium">Contactanos</h2>
				<p class="textLight"><label for="nombre">Nombre:</label></p>
				<p><input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required></p>
				<p class="textLight"><label for="nombre">Telefono:</label></p>
				<p><input type="tel" name="nombre" id="nombre" placeholder="Ingrese su nombre" required></p>
				<p class="textLight"><label for="nombre">Correo electronico:</label></p>
				<p><input type="email" name="nombre" id="nombre" placeholder="Ingrese su nombre" required></p>
				<p class="textLight"><label for="nombre">Asunto:</label></p>
				<p><input type="text" name="nombre" id="nombre" placeholder="Ingrese su nombre" required></p>
				<p class="textLight"><label for="nombre">Mensaje:</label></p>
				<p><textarea name="mensaje" id="mensaje" placeholder="Ingrese su mensaje" rows="15" cols="45" required></textarea></p>
			   <article class="cuadro__boton">
					<input type="submit" name="enviar" value="Enviar">
					<input type="reset" name="reset" value="Limpia formulario">
				</article>
			</fieldset>
		</form>
	  </section>
	  <!-- formulario -->	
	  <!-- Mapa -->	
	  <section class="textCenter menuContacto__mapa">
		  	<h2>Encuentranos</h2>
			<iframe class="menuContacto__iframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3786.1506060304996!2d-70.30201578565782!3d-18.38599549689894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x915aaee623ab2d97%3A0xd7a6bf45fe95e6ad!2sAv.%20Libertador%20Jos%C3%A9%20de%20San%20Mart%C3%ADn%2C%20Arica%2C%20Arica%20y%20Parinacota!5e0!3m2!1sen!2scl!4v1653863159431!5m2!1sen!2scl"></iframe>		
	  </section>		
	</main>
	<!-- Main -->
<!-- footer -->
	<footer class="footer">
	    <section class="textRegular textCenter">
		    <p>Av. Libertador Jose de San Martin n°180</p>
		    <p>+56 58 2245120</p>
	    	<p>contacto@salitrerairma.cl</p>	
	    </section>	
	    <aside class="footer__redes">
	    	<a href="#" target="_BLANK">
	    		<img src="../img/facebook.png" alt="logo de facebook">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/instagram.png" alt="logo de instagram">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/linkedin.png" alt="logo de linkedin">	
	    	</a>
	    </aside>
	    <p class="textLight">@Sebastián Turra</p>
	</footer>
<!-- footer -->
</body>
</html>