<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Icon -->
<link rel="shortcut icon" href="../img/logosmall.png">
<!-- css -->
<link reL="stylesheet" href="../css/style.css">
<title>Salitrera Irma Ltda.</title>
<head>
<body>
	<div class="container-promociones">
		<header id="header-promociones" class="header">
			<a href="../index.html">
					<img src="../img/logosmall.png" alt="logo small de sanitaria irma">
				</a>	
			<div class="header__iniciarsesion">		
				<a href="intranet.html">Iniciar sesion</a>	
			</div>	
		</header>
		<nav id="navegacion-promociones" class="navegacion">
				<ul>
					<li><a href="servicio.html">Servicio</a>
						<ul>
							<li><a href="servicio.html#baniosquimicos">Baños quimicos</a></li>
							<li><a href="servicio.html#fosas">Mantención de fosas</a></li>
							<li><a href="servicio.html#asesoria">Asesorias</a></li>
						</ul>
					</li>
					<li><a href="promociones.html">Promociones</a></li>
					<li><a href="quienessomos.html">¿Quienes somos?  </a></li>
					<li><a href="contacto.html">Contacto</a></li>
				</ul>	
			</nav>
<!-- nav -->
<!-- main -->
	<main id="promocion-banio-fosas">
	 	<section class="promocion">
			<h2 class="textCenter textMedium cuadro__titulo">Baños quimicos</h2>
			<div class="cuadro">
				<article class="cuadro__promocion textLight">
					<h3 class="textRegular"> 2 - 3</h3>
					<p class="textMedium bgBlue">5% de descuento</p>
					<p>- Retiro y traslado del baño</p>
					<p>- Atención al cliente personalizada</p>
					<p>- 1 Baño de respuesto</p>
					<div class="cuadro__boton">
						<input type="button" href="#" value="Adquirir">
					</div>
				</article>
				<article class="cuadro__promocion textLight">
					<h3 class="textRegular"> 2 - 3</h3>
					<p class="textMedium bgRed">5% de descuento</p>
					<p>- Retiro y traslado del baño</p>
					<p>- Atención al cliente personalizada</p>
					<p>- 1 Baño de respuesto</p>
					<div class="cuadro__boton">
						<input type="button" href="#" value="Adquirir">
					</div>
				</article>
				<article class="cuadro__promocion textLight">
					<h3 class="textRegular"> 2 - 3</h3>
					<p class="textMedium bgYellow">5% de descuento</p>
					<p>- Retiro y traslado del baño</p>
					<p>- Atención al cliente personalizada</p>
					<p>- 1 Baño de respuesto</p>
					<div class="cuadro__boton">
						<input type="button" href="#" value="Adquirir">
					</div>
				</article>
			</div>					
		</section>
		<section class="promocion">
			<h2 class="textCenter textMedium cuadro__titulo">Fosas</h2>
			<div class="cuadro">
				<article class="cuadro__promocion">
					<h3 class="textRegular"> 200 - 300 cc</h3>
					<p class="textMedium bgBlue">5% de descuento</p>
					<p>- Retiro y traslado del baño</p>
					<p>- Atención al cliente personalizada</p>
					<p>- 1 Baño de respuesto</p>
					<div class="cuadro__boton">
						<input type="button" href="#" value="Adquirir">
					</div>
				</article>
				<article class="cuadro__promocion textLight">
					<h3 class="textRegular"> 200 - 300 cc</h3>
					<p class="textMedium bgRed">5% de descuento</p>
					<p>- Retiro y traslado del baño</p>
					<p>- Atención al cliente personalizada</p>
					<p>- 1 Baño de respuesto</p>
					<div class="cuadro__boton">
						<input type="button" href="#" value="Adquirir">
					</div>
				</article>
				<article class="cuadro__promocion textLight">
					<h3 class="textRegular"> 200 - 300 cc</h3>
					<p class="textMedium bgYellow">5% de descuento</p>
					<p>- Retiro y traslado del baño</p>
					<p>- Atención al cliente personalizada</p>
					<p>- 1 Baño de respuesto</p>
					<div class="cuadro__boton">
						<input type="button" href="#" value="Adquirir">
					</div>
				</article>		
			</div>			
		</section>		
	</main>

		<footer id="footer-promocion" class="footer">
	    <section class="textRegular textCenter">
		    <p>Av. Libertador Jose de San Martin n°180</p>
		    <p>+56 58 2245120</p>
	    	<p>contacto@salitrerairma.cl</p>	
	    </section>	
	    <aside class="footer__redes">
	    	<a href="#" target="_BLANK">
	    		<img src="../img/facebook.png" alt="logo de facebook">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/instagram.png" alt="logo de instagram">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/linkedin.png" alt="logo de linkedin">	
	    	</a>
	    </aside>
	    <p class="textLight">@Sebastián Turra</p>
	</footer>
</body>
</html>