<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Icon -->
<link rel="shortcut icon" href="../img/logosmall.png">
<!-- css -->
<link reL="stylesheet" href="../css/style.css">
<title>Salitrera Irma Ltda.</title>
<head>
<body>

	<header class="header">
		<div class="header__logo">
			<a href="../index.html">
				<img src="../img/logosmall.png" alt="logo small de sanitaria irma">
			</a>
		</div>	
		<div class="header__iniciarsesion">		
			<a href="../views/intranet.html">Iniciar sesion</a>	
		</div>	
	</header>	
	
		<nav class="navegacion">
			<ul>
				<li><a href="servicio.html">Servicio</a>
					<ul>
						<li><a href="servicio.html#baniosquimicos">Baños quimicos</a></li>
						<li><a href="servicio.html#fosas">Mantención de fosas</a></li>
						<li><a href="servicio.html#asesoria">Asesorias</a></li>
					</ul>
				</li>
				<li><a href="promociones.html">Promociones</a></li>
				<li><a href="quienessomos.html">¿Quienes somos?  </a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>	
		</nav>

	<main>
		<section class="sobrenosotros principal">
			<h2 class="textMedium">Sobre nosotros</h2>
			<article class="textCenter">	
			<img class="padding-foto-horizontal fotoPrincipal" src="../img/nosotros.jpg" alt="Foto de la empresa salitrera irma">
			</article>
			<p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Dolor optio maiores in sit ipsum eligendi ex assumenda velit distinctio recusandae, sunt repellendus unde ducimus hic veniam? Repudiandae, ex provident aspernatur</p>
		</section>

		<div class="separador">
			<span class="textMedium">____________________________________________________________________</span>
		</div>
		
		<section class="equipo">
			<h2 class="textMedium equipo__titulo">Personal</h2>
			<div class="personal">
				<article class="personal__equipo">
					<h3 class="textRegular">Lorem ipsum</h3>
					<div class="textCenter">
						<img class="fotoSmall" src="../img/personal.png" alt="Foto del personal">
					</div>
					<p class="textLight">Lorem ipsum dolor</p>
					<p class="textLight">Lorem ipsum dolor</p>
				</article>
				<article class="personal__equipo">
					<h3 class="textRegular">Lorem ipsum</h3>
					<div class="textCenter">
						<img class="fotoSmall" src="../img/personal.png" alt="Foto del personal">
					</div>
					<p class="textLight">Lorem ipsum dolor</p>
					<p class="textLight">Lorem ipsum dolor</p>
				</article>
				<article class="personal__equipo">
					<h3 class="textRegular">Lorem ipsum</h3>
					<div class="textCenter">
						<img class="fotoSmall" src="../img/personal.png" alt="Foto del personal">
					</div>
					<p class="textLight">Lorem ipsum dolor</p>
					<p class="textLight">Lorem ipsum dolor</p>
				</article>
				<article class="personal__equipo">
					<h3 class="textRegular">Lorem ipsum</h3>
					<div class="textCenter">
						<img class="fotoSmall" src="../img/personal.png" alt="Foto del personal">
					</div>
					<p class="textLight">Lorem ipsum dolor</p>
					<p class="textLight">Lorem ipsum dolor</p>
				</article>
			</div>	
		</section>
<main>

	<footer class="footer">
	    <section class="textRegular textCenter">
		    <p>Av. Libertador Jose de San Martin n°180</p>
		    <p>+56 58 2245120</p>
	    	<p>contacto@salitrerairma.cl</p>	
	    </section>	
	    <aside class="footer__redes">
	    	<a href="#" target="_BLANK">
	    		<img src="../img/facebook.png" alt="logo de facebook">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/instagram.png" alt="logo de instagram">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/linkedin.png" alt="logo de linkedin">	
	    	</a>
	    </aside>
	    <p class="textLight">@Sebastián Turra</p>
	</footer>
</body>
</html>