<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Icon -->
<link rel="shortcut icon" href="../img/logosmall.png">
<!-- css -->
<link reL="stylesheet" href="../css/style.css">
<title>Salitrera Irma Ltda.</title>
<head>
<body>
<!-- header -->
	<header class="header">
			<a href="../index.html"> 
					<img src="../img/logosmall.png" alt="logo small de sanitaria irma">
				</a>
					
			<div class="header__iniciarsesion">		
				<a href="../views/intranet.html">Iniciar sesion</a>	
			</div>	
		</header>
<!-- header -->
<!-- nav -->
		<nav>
			<ul>
				<li><a href="servicio.html">Servicio</a>
					<ul>
						<li><a href="servicio.html#baniosquimicos">Baños quimicos</a></li>
						<li><a href="servicio.html#fosas">Mantención de fosas</a></li>
						<li><a href="servicio.html#asesoria">Asesorias</a></li>
					</ul>
				</li>
				<li><a href="promociones.html">Promociones</a></li>
				<li><a href="quienessomos.html">¿Quienes somos?  </a></li>
				<li><a href="contacto.html">Contacto</a></li>
			</ul>	
		</nav>
<!-- nav -->
<!-- main -->
	<main class="servicios">
		<!-- sección  baños -->
		<div id="baniosquimicos" class="banios">
			<div class="servicio__titulo">
				<h2 class="textMedium">Arriendo de baños quimicos</h2>
			</div>
			<div class="servicio__foto">
				<img class="fotoSecundaria" src="../img/bañoquimico.png" alt="Foto de baños quimicos"/>	
			</div>
			<div class="servicio__descripcion">
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sed, pariatur, odio nisi quidem quo neque distinctio minus esse perspiciatis quam maxime, rerum ducimus saepe assumenda nobis molestiae, officiis tempore minima.</p>
			</div>
		</div>
		
		<!-- sección  baños -->
		<!-- sección  fosas -->
		<div id="fosas" class="banios">
			<div class="servicio__titulo">
				<h2 class="textMedium">Limpieza de fosas</h2>
			</div>
			<div class="servicio__foto">
				<img class="fotoSecundaria" src="../img/limpiezadefosas.png" alt="Foto de baños quimicos"/>	
			</div>
			<div class="servicio__descripcion">
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sed, pariatur, odio nisi quidem quo neque distinctio minus esse perspiciatis quam maxime, rerum ducimus saepe assumenda nobis molestiae, officiis tempore minima.</p>
			</div>
		</div>
		<!-- sección  fosas -->
		<!-- sección  asesorias -->
		<div id="asesoria" class="banios">
			<div class="servicio__titulo">
				<h2 class="textMedium">Asesoria de salubridad</h2>
			</div>
			<div class="servicio__foto">
				<img class="fotoSecundaria" src="../img/asesoria.jpg" alt="Foto de baños quimicos"/>	
			</div>
			<div class="servicio__descripcion">
				<p>Lorem ipsum dolor, sit amet consectetur adipisicing, elit. Sed, pariatur, odio nisi quidem quo neque distinctio minus esse perspiciatis quam maxime, rerum ducimus saepe assumenda nobis molestiae, officiis tempore minima.</p>
			</div>
		</div>
		<!-- sección  asesorias -->
<main>
<!-- main -->
<!-- footer -->
	<footer class="footer">
	    <section class="textRegular textCenter">
		    <p>Av. Libertador Jose de San Martin n°180</p>
		    <p>+56 58 2245120</p>
	    	<p>contacto@salitrerairma.cl</p>	
	    </section>	
	    <aside class="footer__redes">
	    	<a href="#" target="_BLANK">
	    		<img src="../img/facebook.png" alt="logo de facebook">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/instagram.png" alt="logo de instagram">	
	    	</a>
	    	<a href="#" target="_BLANK">
	    		<img src="../img/linkedin.png" alt="logo de linkedin">	
	    	</a>
	    </aside>
	    <p class="textLight">@Sebastián Turra</p>
	</footer>
<!-- footer -->
</body>
</html>